# Ignore output folder
modal_outputs/

# Ignore .env files (sensitive environment variables)
.env

# Ignore macOS-specific files
.DS_Store

# Ignore Python bytecode files
*.pyc

# Python compiled files
*.pyc
__pycache__

# VSCode directory
.vscode

# Build, distribution, and egg-info folders
output
build
*.egg-info
dist

# Temporary and cache files
.cache

# Ignore model checkpoint and trained weights files
v1-5-pruned.ckpt
*.pth

# Ignore submodules folder if not needed
GaussianObject/submodules/

# Ignore specific directories
GaussianObject/data/
GaussianObject/models/


.idea/
